
.App {
    background-color: rgb(56, 56, 99);
}

.app-container {
    display: flex; /* Movie 컴포넌트를 가로로 나열하기 위해 추가 */
    flex-wrap: wrap; /* 필요하다면 영화 아이템이 화면에 맞게 자동으로 줄바꿈하도록 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
}
