
.App {
    background-color: rgb(56, 56, 99);
}

.app-container {
    display: flex; /* Movie 컴포넌트를 가로로 나열하기 위해 추가 */
    flex-wrap: wrap; /* 필요하다면 영화 아이템이 화면에 맞게 자동으로 줄바꿈하도록 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
}
/* ----------------------------------------------------- */
.movie-container {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 400px;
    position: relative; /* 포지션을 상대적으로 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 호버 효과를 나타냅니다. */
    transition: background-color 0.3s ease; /* 배경색 전환 효과를 추가 */
    overflow: hidden; /* overflow 속성을 hidden으로 설정 */
}

.movie-container:hover {
    background-color: rgba(0, 0, 0, 0.7); /* 호버 상태일 때 배경색을 투명한 검은색으로 변경 */
}

.overview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242, 238, 238, 0.1);
    color: white;
    padding: 10px;
    overflow: auto; /* overflow 속성을 auto로 설정하여 스크롤을 표시 */
    z-index: 1; /* z-index를 1로 설정하여 .overview가 더 위에 표시됩니다. */
}

.movie-container:hover .overview {
    display: block; /* 호버 상태일 때 .overview를 표시 */
}
  /* -------------------------------------------- */
.info-container {
    display: flex; /* 내용을 가로로 나열하기 위해 Flexbox를 사용합니다. */
    justify-content: space-between; /* 내용 사이에 공간을 넣습니다. */
    align-items: center; /* 세로 중앙 정렬을 위해 사용합니다. */
    color: #ddd;
}

.img {
    width: 200px;
    height: 300px;
}